<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CSV Upload</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>
  <div class="container text-center mt-3">
    <!-- searching the data as per 2nd column  -->
    <form class="input-group g-2">
        <input style="width: 100px;" class="form-control" id="search-csv" type="search" placeholder="search(2nd column)..." />
        <button class="btn btn-primary" id="search-complete">Search</button>
    </form>
  </div>
  <!-- displaying the data in tabular format. -->
  <div class="container mt-3" id="searh-data">
    <table class="table">
      <thead>
        <tr>
          <!-- displaying the column headers -->
          <% for(let col of data.slice(0,1)) {%>
            <% for(let j of col){%>
              <th scope="col">
                <%=j %>
              </th>
              <%}%>
                <%}%>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <!-- displaying the rows data -->
        <% for(let i of data.slice(1)){%>
          <tr>
            <% for(let j of i){%>
              <td>
                <%=j%>
              </td>
              <%}%>
          </tr>
          <%}%>
      </tbody>
    </table>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <script>
    let searchData = document.getElementById('searh-data');//output data
    let searchCsv = document.getElementById('search-csv');//search input 
    let serchSubEle = document.getElementById('search-complete');//seach button
    const CSVFileData =<%- JSON.stringify(data) %>

    // search function to display the matching rows.
    function search(event) {
          let value = event.target.value;
          let tableData = "";
          event.stopPropagation();
          if (value != "") {
            tableData +=
              `<table class="table">
         <thead>
         <tr>`;
            for (let col of CSVFileData.slice(0, 1)) {
              for (let j of col) {
                tableData += `<th scope="col">${j}</th>`
              }
            }
            tableData += `</tr>
          </thead>
          <tbody class="table-group-divider">`
            for (let i of CSVFileData.slice(1)) {
              tableData += `<tr>`
              let searchName = i[1].toLowerCase();
              if (searchName.includes(value.toLowerCase())) {
                for (let j of i) {
                  tableData += `<td>${j}</td>`
                }
              }
            }
            tableData += `</tbody>
        </table>`
            document.getElementById('searh-data').innerHTML = tableData
          }
          else {
            tableData +=
              `<table class="table">
         <thead>
         <tr>`
            for (let col of CSVFileData.slice(0, 1)) {
              for (let j of col) {
                tableData += `<th scope="col">${j}</th>`
              }
            }
            tableData += `</tr>
          </thead>
          <tbody class="table-group-divider">`
            for (let i of CSVFileData.slice(1)) {
              tableData += `<tr>`
              for (let j of i) {
                tableData += `<td>${j}</td>`
              }
            }
            tableData += `</tbody>
        </table>`
            document.getElementById('searh-data').innerHTML = tableData
          }
        }
      searchCsv.addEventListener('keyup', search);//when a key is typed in search bar
      serchSubEle.addEventListener('click', (e) => {
        e.preventDefault();
      })

  </script>

</body>

</html>